
# ///
# /// Set the MCA ROI$(ROI) high level limit on channel $(CHAN)
# ///
record(longout, "$(P)$(R)C$(CHAN)_MCA_ROI$(ROI)_HLM")
{
   field(DTYP, "asynInt32")
   field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))XSP3_CHAN_ROI$(ROI)_HLM")
   field(VAL,  "0")
}

# ///
# /// Get the MCA ROI$(ROI) high level limit on channel $(CHAN)
# ///
record(longin, "$(P)$(R)C$(CHAN)_MCA_ROI$(ROI)_HLM_RBV")
{
   field(PINI, "1")
   field(DTYP, "asynInt32")
   field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))XSP3_CHAN_ROI$(ROI)_HLM")
   field(SCAN, "I/O Intr")
}

# ///
# /// Set the MCA ROI$(ROI) low level limit on channel $(CHAN)
# ///
record(longout, "$(P)$(R)C$(CHAN)_MCA_ROI$(ROI)_LLM")
{
   field(DTYP, "asynInt32")
   field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))XSP3_CHAN_ROI$(ROI)_LLM")
   field(VAL,  "0")
}

# ///
# /// Get the MCA ROI$(ROI) low level limit on channel $(CHAN)
# ///
record(longin, "$(P)$(R)C$(CHAN)_MCA_ROI$(ROI)_LLM_RBV")
{
   field(PINI, "1")
   field(DTYP, "asynInt32")
   field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))XSP3_CHAN_ROI$(ROI)_LLM")
   field(SCAN, "I/O Intr")
}

