# max and mean deadtimes for a 2 Channel detector

record(calcout, "$(P)MeanDeadTime_RBV") {
    field(INPA, "$(P)C1:DeadTime_RBV NPP NMS")
    field(INPB, "$(P)C2:DeadTime_RBV NPP NMS")
    field(CALC, "0.5*(A+B)")
    field(PREC, "5")
}

record(calcout, "$(P)MaxDeadTime_RBV") {
    field(INPA, "$(P)C1:DeadTime_RBV NPP NMS")
    field(INPB, "$(P)C2:DeadTime_RBV NPP NMS")
    field(CALC, "MAX(A,B)")
    field(PREC, "5")
}

